* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: linear-gradient(rgba(2, 81, 54, 0.1), rgba(127, 157, 70, 0.75));
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.calculator {
  background: rgba(184, 33, 33, 0.4);
  width: 400px;

  border-radius: 5px;
  padding: 2rem 1.5rem;

  display: grid;
  gap: 1rem;
  grid-template-areas:
    "display display display display"
    "ac c perc divide"
    "btn7 btn8 btn9 x"
    "btn4 btn5 btn6 minus"
    "btn1 btn2 btn3 plus"
    "btn0 btn0 dot equals";

  z-index: 80;
  backdrop-filter: blur(5px);
}
.calculator div {
  height: 50px;
  background: rgba(199, 238, 73, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  cursor: pointer;
}
.calculator div.display {
  grid-area: display;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}
.btn-perc {
  grid-area: perc;
}
.btn-divide {
  grid-area: divide;
}

.btn-7 {
  grid-area: btn7;
}
.btn-8 {
  grid-area: btn8;
}

.btn-9 {
  grid-area: btn9;
}

.btn-X {
  grid-area: x;
}

.btn-4 {
  grid-area: btn4;
}

.btn-5 {
  grid-area: btn5;
}

.btn-6 {
  grid-area: btn6;
}
.btn-minus {
  grid-area: minus;
}

.btn-1 {
  grid-area: btn1;
}

.btn-2 {
  grid-area: btn2;
}

.btn-3 {
  grid-area: btn3;
}

.btn-plus {
  grid-area: plus;
}
.btn-0 {
  grid-area: btn0;
}
.btn-dot {
  grid-area: dot;
}
.btn-equals {
  grid-area: equals;
}

.circle {
  width: 180px;
  height: 180px;
  background: linear-gradient(to right, blue, purple);
  border-radius: 50%;

  position: relative;
  top: 190px;
  left: 80px;
}

.prank {
  animation: shake 0.5s ease-in;
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(20px);
  }
}
